<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MedicHub Pharmacy</title>
    <link rel="stylesheet" type="text/css" href="/css/admin/dashboard.css">
</head>
<body>

<!-- Header -->
<header class="header">
    <div class="header-left">
        <a href="/" class="login-link">Back</a>
    </div>
    <h1 class="logo">MedicHub Pharmacy</h1>
</header>

<!-- Body -->
<main class="main">
    <div class="side-image left">
        <img src="/images/buildKraut.jpg" alt="Links Bild">
    </div>

    <div class="dashboard-container">
        <header>
            <h1>Admin Dashboard</h1>
        </header>

        <div class="main-container">
            <div class="sidebar">
                <a th:href="@{/admin/manage-users}">👥 Manage Users</a>
                <a th:href="@{/admin/manage-products}">💊 Manage Products</a>
                <a th:href="@{/admin/manage-orders}">📦 Manage Orders</a>
                <a th:href="@{/admin/manage-feedback}">📝 Manage Feedback</a>
                <a th:href="@{/auth/logout}" style="color: red;">🚪 Logout</a>
            </div>

            <div class="content">
                    <h3>System Overview</h3>
                    <p>Total Users: <span th:text="${totalUsers}">0</span></p>
                    <p>Total Products: <span th:text="${totalProducts}">0</span></p>
                    <p>Total paid orders: <span th:text="${paidOrders}">0</span></p>
            </div>
        </div>
    </div>

    <div class="side-image right">
        <img src="/images/healyLife.png" alt="Rechts Bild">
    </div>

</main>

<!-- Footer -->
<footer class="footer">
    <div></div>
    <div>
        <p><a href="/terms">Terms & Conditions</a></p>
    </div>
    <div>
        <p><a href="/imprint">Imprint</a></p>
    </div>
    <div>
        <p><a href="/privacy">Privacy Policy</a></p>
    </div>
    <div>
        <p><a href="/contact">Contact</a></p>
    </div>
    <div>
        <p>© 2025 MedicHub</p>
    </div>
    <div></div>
</footer>

</body>
</html>