<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MedicHub Pharmacy</title>
    <link rel="stylesheet" type="text/css" href="/static/css/auth/logIn.css">
</head>
<body>

<!-- Header -->
<header class="header">
    <h1 class="logo">MedicHub Pharmacy</h1>
    <div class="header-right">
        <a href="/login" class="login-link">Login</a>
        <a href="/cart">
            <img src="/static/images/cart.jpg" alt="Cart" class="cart-icon">
        </a>
    </div>
</header>

<!-- Body -->
<main class="main">
    <div class="side-image left">
        <img src="/static/images/buildKraut.jpg" alt="Links Bild">
    </div>











    <div class="side-image right">
        <img src="/static/images/healyLife.png" alt="Rechts Bild">
    </div>

</main>

<!-- Footer -->
<footer class="footer">
    <div></div>
    <div>
        <p><a href="/terms">Terms & Conditions</a></p>
    </div>
    <div>
        <p><a href="/imprint">Imprint</a></p>
    </div>
    <div>
        <p><a href="/privacy">Privacy Policy</a></p>
    </div>
    <div>
        <p><a href="/contact">Contact</a></p>
    </div>
    <div>
        <p>© 2025 MedicHub</p>
    </div>
    <div></div>
</footer>

</body>
</html>