body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: red;
    overflow-x: hidden;
}

/* Head */
.header {
    background-color: #2e7d32;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    margin: 0;
    text-align: center;
    flex: 1;
}

.header-left {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 5px;
}

.header-right {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 5px;
}

.login-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    width: 60px;
    font-size: 20px;
}

.cart-icon {
    width: 60px;
    height: 40px;
}

/* Main area */
.main {
    flex: 1;
    min-height: calc(100vh - 120px);
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    background: linear-gradient(to right, #f6eccb, #ead770);
    gap: 40px;
}

.side-image {
    flex: 0 0 350px;
}
.side-image.right {
    position: fixed;
    right: 30px;
    top: 660px;
    width: 350px;
}
.side-image.left {
    position: fixed;
    left: 30px;
    top: 110px;
    width: 350px;
}

.side-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #615b5b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 450px;
    margin: 30px auto;
    padding: 25px 30px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.container p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    margin: 0;
    font-size: 16px;
}

.container p:last-child {
    border-bottom: none;
}

.container p .icon {
    display: inline-block;
    width: 25px;
    text-align: center;
    margin-right: 12px;
    font-size: 18px;
}

.container p strong {
    font-weight: 600;
    margin-right: 8px;
}

.container p span:not(.icon) {
    color: #333;
}

@media (max-width: 500px) {
    .container {
        padding: 20px;
        max-width: 90%;
    }
    .container p {
        font-size: 14px;
    }
}










/* Footer */
.footer {
    bottom: 0;
    width: 100%;
    background-color: #2e7d32;
    color: white;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    color: white;
    text-decoration: none;
}