<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MedicHub Pharmacy</title>
    <link rel="stylesheet" type="text/css" href="/static/css/auth/logIn.css">
</head>
<body>

<!-- Header -->
<header class="header">
    <h1 class="logo">MedicHub Pharmacy</h1>
    <div class="header-right">
        <a href="/login" class="login-link">Login</a>
        <a href="/cart">
            <img src="/static/images/cart.jpg" alt="Cart" class="cart-icon">
        </a>
    </div>
</header>

<!-- Body -->
<main class="main">
    <div class="side-image left">
        <img src="/static/images/buildKraut.jpg" alt="Links Bild">
    </div>

    <div class="container">
        <h2>Hi, </h2>
        <div class="">
        <p><span class="icon">👤</span><strong>Vorname:</strong> <span th:text="${user.firstname}">Max</span></p>
        <p><span class="icon">👤</span><strong>Nachname:</strong> <span th:text="${user.lastname}">Mustermann</span></p>
        <p><span class="icon">📧</span><strong>Email:</strong> <span th:text="${user.email}">max@example.com</span></p>
        <p><span class="icon">💼</span><strong>Position:</strong> <span th:text="${user.position}">Entwickler</span></p>
        <p><span class="icon">📅</span><strong>Registriert am:</strong> <span th:text="${user.createdAt}">2025-10-20</span></p>
        </div>
        <div class="update">
            <p>Change your data</p>
            <button type="button">Email</button>
            <button type="button">Password</button>
        </div>
        <!-- Logout -->
        <form th:action="@{/logout}" method="post">
            <button type="submit">Abmelden</button>
        </form>

        <div class="update">
            <p>Delete your Account</p>
            <button type="button">Email</button>
            <button type="button">Password</button>
        </div>
    </div>









    <div class="side-image right">
        <img src="/static/images/healyLife.png" alt="Rechts Bild">
    </div>

</main>

<!-- Footer -->
<footer class="footer">
    <div></div>
    <div>
        <p><a href="/terms">Terms & Conditions</a></p>
    </div>
    <div>
        <p><a href="/imprint">Imprint</a></p>
    </div>
    <div>
        <p><a href="/privacy">Privacy Policy</a></p>
    </div>
    <div>
        <p><a href="/contact">Contact</a></p>
    </div>
    <div>
        <p>© 2025 MedicHub</p>
    </div>
    <div></div>
</footer>

</body>
</html>