<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MedicHub Pharmacy</title>
    <link rel="stylesheet" type="text/css" href="/css/user/account.css">
</head>
<body>

<!-- Header -->
<header class="header">
    <div class="header-left">
        <a href="/" class="login-link">Back</a>
    </div>
    <h1 class="logo">MedicHub Pharmacy</h1>
    <div class="header-right">
        <a href="/cart">
            <img src="/images/cart.jpg" alt="Cart" class="cart-icon">
        </a>
    </div>
</header>

<!-- Body -->
<main class="main">
    <div class="side-image left">
        <img src="/images/buildKraut.jpg" alt="Links Bild">
    </div>

    <div class="container">
            <h2>Welcome, <span th:text="${user.firstname}">Name</span></h2>
            <div>
            <p><span class="icon">👤</span><strong>Vorname:</strong> <span th:text="${user.firstname}">Max</span></p>
            <p><span class="icon">👤</span><strong>Nachname:</strong> <span th:text="${user.lastname}">Mustermann</span></p>
            <p><span class="icon">📧</span><strong>Email:</strong> <span th:text="${user.email}">max@example.com</span></p>
            </div>
           <!-- Update user's data-->
            <div class="update-data">
                <p>Change your data</p>
                <!-- Update Email -->
                <form th:action="@{/user/update-email}" method="post">
                    <div th:if="${param.success == 'email'}" style="color:green;">E-Mail updated successfully!</div>
                    <div th:if="${param.emailError}" style="color:red; margin-bottom:10px;">Error updating email — please try again</div>

                    <div class="form-group">
                        <label for="newEmail">E-Mail</label>
                        <input type="email" id="newEmail" name="newEmail" placeholder="Enter new email" required>
                        <div>
                        <button type="submit">Update email</button>
                        </div>
                    </div>
                </form>

                <!-- Update Password -->
                <form th:action="@{/user/update-password}" method="post">
                    <div th:if="${param.success == 'password'}" style="color:green;">Password updated successfully!</div>
                    <div th:if="${param.passwordError}" style="color:red; margin-bottom:10px;">Error updating password — please try again</div>

                    <div class="form-group">
                        <label for="newPassword">Password</label>
                        <input type="password" id="newPassword" name="newPassword" placeholder="Enter new password" required>
                        <div>
                        <button type="submit">Update password</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Logout -->
            <form th:action="@{/auth/logout}" method="post">
                <button type="submit">Logout</button>
            </form>
            <!-- Delete -->
            <form th:action="@{/user/delete}" method="post">
                <button type="submit">Delete your Account</button>
            </form>
    </div>

    <div class="side-image right">
        <img src="/images/healyLife.png" alt="Rechts Bild">
    </div>

</main>

<!-- Footer -->
<footer class="footer">
    <div></div>
    <div>
        <p><a href="/terms">Terms & Conditions</a></p>
    </div>
    <div>
        <p><a href="/imprint">Imprint</a></p>
    </div>
    <div>
        <p><a href="/privacy">Privacy Policy</a></p>
    </div>
    <div>
        <p><a href="/contact">Contact</a></p>
    </div>
    <div>
        <p>© 2025 MedicHub</p>
    </div>
    <div></div>
</footer>

</body>
</html>