html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(to right, #f6eccb, #ead770);
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Header */
.header {
    background-color: #2e7d32; /* Grün */
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    margin: 0;
    text-align: center;
    flex: 1;
}

.header-right {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 5px;
}

.login-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    width: 60px;
    font-size: 20px;
}

.cart-icon {
    width: 60px;
    height: 40px;
}

/* Hauptbereich */
.main-content {
    flex: 1;
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    overflow-y: visible;
    background: linear-gradient(to right, #f6eccb, #ead770);
    gap: 40px;
}

.side-image {
    flex: 0 0 350px;
}
.side-image.right {
    position: fixed;
    right: 30px;
    top: 620px;
    width: 350px;
}
.side-image.left {
    position: fixed;
    left: 30px;
    top: 100px;
    width: 350px;
}

.side-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #615b5b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.product-container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    width: 100%;
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.card-img {
    width: 90%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;           /* Buttons zentriert im Container */
}

.btn {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #2e7d32;
    background: #2e7d32;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    width: fit-content;
    margin-top: 20px;
}

/* Footer */
.footer {
    bottom: 0;
    width: 100%;
    background-color: #2e7d32;
    color: white;
    padding: 2px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    color: white;
    text-decoration: none;
}