body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: forestgreen;
    overflow-x: hidden;
}

/* Head */
.header {
    background-color: #2e7d32;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    margin: 0;
    text-align: center;
    flex: 1;
}

.header-left {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 5px;
}

.login-link {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 8px 16px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 60px;
    font-size: 20px;
}

.main {
    flex: 1;
    min-height: calc(100vh - 120px);
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    background: linear-gradient(to right, #f6eccb, #ead770);
    gap: 20px;
    box-sizing: border-box
}

/* Wrapper around all containers */
.container-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 10px;
}
.page-title {
    text-align: center;
    margin: 0 0 5px 0;
}

.page-title h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 5px 0;
}
/* Every container */
.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
@media (max-width: 768px) {
    .container-wrapper {
        grid-template-columns: 1fr;
    }
}

input, select, button {
    padding: 8px;
    margin: 5px 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th { background: #f0f0f0; }

button {
    padding: 8px 12px;
    margin: 5px 0;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #f6eccb;
    background-color: #07a502;
}

.btn-delete {
    background-color: #07a502;
    color: white;
}
.btn-delete:hover {
    background-color: #056c01;
}

/* Footer */
.footer {
    bottom: 0;
    width: 100%;
    background-color: #056c01;
    color: white;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    color: white;
    text-decoration: none;
}