html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(to right, #f6eccb, #ead770);
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}
/* Header */
.header {
    background-color: #2e7d32; /* green */
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    margin: 0;
    text-align: center;
    flex: 1;
}

.header-left {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 5px;
}

.header-right {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 5px;
}

.login-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    width: 60px;
    font-size: 20px;
}

.cart-icon {
    width: 60px;
    height: 40px;
}

/* Hauptbereich */
.main {
    flex: 1;
    min-height: calc(100vh - 120px);
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    background: linear-gradient(to right, #f6eccb, #ead770);
    gap: 40px;
}

.side-image {
    flex: 0 0 350px; /* feste Breite für die Bilder */
}
.side-image.right {
    position: fixed;
    right: 30px;       /* Abstand vom rechten Bildschirmrand */
    top: 660px;        /* Abstand vom oberen Rand */
    width: 350px;
}
.side-image.left {
    position: fixed;
    left: 30px;
    top: 110px;
    width: 350px;
}

.side-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #615b5b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.products-grid {
    flex: 1;
    max-width: calc(100% - 900px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-right: 450px;
    margin-left: 160px;
    padding-bottom: 20px;
}

/* Karten */
.card {
    background: white;
    padding: 10px;
    border: 1px solid #615b5b;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.card-img {
    width: 80%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 5px;
}

.card-title {
    margin: 0 0 8px;
    color: #a50202;
    font-size: 1.5rem;
}

.card-title a {
    text-decoration: none;
    color: inherit;
}

.card-title a:hover {
    text-decoration: underline;
}
.card-desc {
    margin: 0 0 12px;
    flex: 1;
    color: #07a502 !important;
    font-size: 0.80rem;
}
.card-desc a {
    color: #07a502;
    text-decoration: none;
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.card-price {
    font-weight: bold;
    color: #550101;
    margin: 0;
}

.btn {
    background-color: forestgreen;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #256428;
}

/* Footer */
.footer {
    bottom: 0;
    width: 100%;
    background-color: #2e7d32;
    color: white;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    color: white;
    text-decoration: none;
}