<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>MedicHub Pharmacy</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

<!-- Header -->
<header class="header">
    <h1 class="logo">MedicHub Pharmacy</h1>
    <div class="header-right">
        <a href="/auth/login" class="login-link">Login</a>
        <a href="/cart">
            <img src="/images/cart.jpg" alt="Cart" class="cart-icon">
        </a>
    </div>
</header>

<!-- Body -->
<main class="main">
    <div class="side-image left">
        <img src="/images/buildKraut.jpg" alt="Links Bild">
    </div>

    <h1>Unsere Produkte</h1>

    <div class="products-grid">
        <div class="card" th:each="product : ${products}">
            <div class="product-card">
                <a th:href="@{/products/product-details/{id}(id=${product.productId})}">
                    <img src="/images/tablets.png" alt="Product" class="card-img">
                </a>
                <h3 class="card-title">
                    <a th:href="@{/products/product-details/{id}(id=${product.productId})}"
                       th:text="${product.name}">Product Name</a>
                </h3>
                <h5 class="card-desc">
                    <a th:href="@{/products/product-details/{id}(id=${product.productId})}"
                       >Beschreibung</a>
                </h5>
                <div class="card-footer">
                    <p class="card-price">Preis: $<span th:text="${product.price}">0.00</span></p>

                    <form th:action="@{/cart/add/{id}(id=${product.productId})}" method="post">
                        <button type="submit" class="btn">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="side-image right">
        <img src="/images/healyLife.png" alt="Rechts Bild">
    </div>

</main>

<!-- Footer -->
<footer class="footer">
    <div></div>
    <div>
        <p><a href="/terms">Terms & Conditions</a></p>
    </div>
    <div>
        <p><a href="/imprint">Imprint</a></p>
    </div>
    <div>
        <p><a href="/privacy">Privacy Policy</a></p>
    </div>
    <div>
        <p><a href="/contact">Contact</a></p>
    </div>
    <div>
        <p>© 2025 MedicHub</p>
    </div>
    <div></div>
</footer>

</body>
</html>