<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MedicHub Pharmacy</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

<!-- Header -->
<header class="header">
    <h1 class="logo">MedicHub Pharmacy</h1>
    <div class="header-right">
        <a href="/auth/logIn" class="login-link">Login</a>
        <a href="/cart/cart">
            <img src="/images/cart.jpg" alt="Cart" class="cart-icon">
        </a>
    </div>
</header>

<!-- Body -->
<main class="main">
    <div class="side-image left">
        <img src="/images/buildKraut.jpg" alt="Links Bild">
    </div>

    <div class="products-grid">

        <!-- Cards 1 -->
        <div class="card">

            <a href="products/product-details.html">
                <img src="/images/tablets.png" alt="Product 1" class="card-img">
            </a>

            <h3 class="card-title">
                <a href="products/product-details.html">Product 1</a>
            </h3>

            <h5 class="card-desc">
                <a href="products/product-details.html">Beschreibung des Produkts</a>
            </h5>

            <div class="card-footer">
                <p class="card-price">$7.55</p>
                <button class="btn">Add to Cart</button>
            </div>
        </div>

        <!-- Cards 2 -->
        <div class="card">

            <a href="products/product-details.html">
                <img src="/images/tablets.png" alt="Product 2" class="card-img">
            </a>

            <h3 class="card-title">
                <a href="products/product-details.html">Product 2</a>
            </h3>

            <h5 class="card-desc">
                <a href="products/product-details.html">Beschreibung des Produkts</a>
            </h5>

            <div class="card-footer">
                <p class="card-price">$7.55</p>
                <button class="btn">Add to Cart</button>
            </div>
        </div>

        <!-- Cards 3 -->
        <div class="card">

            <a href="products/product-details.html">
                <img src="/images/tablets.png" alt="Product 3" class="card-img">
            </a>

            <h3 class="card-title">
                <a href="products/product-details.html">Product 3</a>
            </h3>

            <h5 class="card-desc">
                <a href="products/product-details.html">Beschreibung des Produkts</a>
            </h5>

            <div class="card-footer">
                <p class="card-price">$7.55</p>
                <button class="btn">Add to Cart</button>
            </div>
        </div>

        <!-- Cards 4 -->
        <div class="card">

            <a href="products/product-details.html">
                <img src="/images/tablets.png" alt="Product 4" class="card-img">
            </a>

            <h3 class="card-title">
                <a href="products/product-details.html">Product 4</a>
            </h3>

            <h5 class="card-desc">
                <a href="products/product-details.html">Beschreibung des Produkts</a>
            </h5>

            <div class="card-footer">
                <p class="card-price">$7.55</p>
                <button class="btn">Add to Cart</button>
            </div>
        </div>

        <!-- Cards 5 -->
        <div class="card">

            <a href="products/product-details.html">
                <img src="/images/tablets.png" alt="Product 5" class="card-img">
            </a>

            <h3 class="card-title">
                <a href="products/product-details.html">Product 5</a>
            </h3>

            <h5 class="card-desc">
                <a href="products/product-details.html">Beschreibung des Produkts</a>
            </h5>

            <div class="card-footer">
                <p class="card-price">$7.55</p>
                <button class="btn">Add to Cart</button>
            </div>
        </div>

        <!-- Cards 6 -->
        <div class="card">

            <a href="products/product-details.html">
                <img src="/images/tablets.png" alt="Product 6" class="card-img">
            </a>

            <h3 class="card-title">
                <a href="products/product-details.html">Product 6</a>
            </h3>

            <h5 class="card-desc">
                <a href="products/product-details.html">Beschreibung des Produkts</a>
            </h5>

            <div class="card-footer">
                <p class="card-price">$7.55</p>
                <button class="btn">Add to Cart</button>
            </div>
        </div>

        <!-- Cards 7 -->
        <div class="card">

            <a href="products/product-details.html">
                <img src="/images/tablets.png" alt="Product 7" class="card-img">
            </a>

            <h3 class="card-title">
                <a href="products/product-details.html">Product 7</a>
            </h3>

            <h5 class="card-desc">
                <a href="products/product-details.html">Beschreibung des Produkts</a>
            </h5>

            <div class="card-footer">
                <p class="card-price">$7.55</p>
                <button class="btn">Add to Cart</button>
            </div>
        </div>

        <!-- Cards 8 -->
        <div class="card">

            <a href="products/product-details.html">
                <img src="/images/tablets.png" alt="Product 8" class="card-img">
            </a>

            <h3 class="card-title">
                <a href="products/product-details.html">Product 8</a>
            </h3>

            <h5 class="card-desc">
                <a href="products/product-details.html">Beschreibung des Produkts</a>
            </h5>

            <div class="card-footer">
                <p class="card-price">$7.55</p>
                <button class="btn">Add to Cart</button>
            </div>
        </div>

        <!-- Cards 9 -->
        <div class="card">

            <a href="products/product-details.html">
                <img src="/images/tablets.png" alt="Product 9" class="card-img">
            </a>

            <h3 class="card-title">
                <a href="products/product-details.html">Product 9</a>
            </h3>

            <h5 class="card-desc">
                <a href="products/product-details.html">Beschreibung des Produkts</a>
            </h5>
            
            <div class="card-footer">
                <p class="card-price">$7.55</p>
                <button class="btn">Add to Cart</button>
            </div>
        </div>

    </div>

    <div class="side-image right">
        <img src="/images/healyLife.png" alt="Rechts Bild">
    </div>

</main>

<!-- Footer -->
<footer class="footer">
    <div></div>
    <div>
        <p><a href="/terms">Terms & Conditions</a></p>
    </div>
    <div>
        <p><a href="/imprint">Imprint</a></p>
    </div>
    <div>
        <p><a href="/privacy">Privacy Policy</a></p>
    </div>
    <div>
        <p><a href="/contact">Contact</a></p>
    </div>
    <div>
        <p>© 2025 MedicHub</p>
    </div>
    <div></div>
</footer>

</body>
</html>